services:
  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: mongosh --eval 'db.adminCommand("ping")'
      interval: 5s
      timeout: 5s
      retries: 5

  todo-app:
    build: .
    container_name: todo-app
    ports:
      - "5000:5000"
    depends_on:
      mongo:
        condition: service_healthy
    environment:
      - MONGO_URI=mongodb://mongo:27017/todos-db
    command: npm start

volumes:
  mongo-data: